In [29]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars Facts site
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

html = browser.html
html_soup = soup(html, 'html.parser')

TypeError: object of type 'NoneType' has no len()

In [ ]:
table = html_soup.find('table', class_='table-striped')

In [ ]:
mars_facts = {}
rows = table.find_all('tr')
for row in rows:
    row_heading = row.find('th').text
    row_data = row.find('td').text.strip()
    mars_facts[row_heading] = row_data

In [ ]:
browser.quit()

In [14]:
import pandas as pd

In [15]:
df = pd.read_html('https://galaxyfacts-mars.com')
df

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
mars_df = df[0]
mars_df

               description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
mars_df.columns=['description', 'Mars', 'Earth']

In [23]:
mars_df = mars_df.iloc[1:]

          description             Mars            Earth
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [22]:
# import pandas as pd

# # Read in HTML tables into a DataFrame
# df = pd.read_html('https://galaxyfacts-mars.com')
# # Select the first table
# mars_df = df[0]

# # Rename columns
# mars_df.columns=['description', 'Mars', 'Earth']

# # Remove the first row from the DataFrame
# mars_df = mars_df.iloc[1:]

In [ ]:
browser.quit()